.bigCard {
	/* top: 0; */
	/* left: 0; */
	/* right: 0; */
	/* position: fixed;
	z-index: 1;
	overflow: hidden;
	padding: 40px 0; */
	/* height: auto; */
	width: 80vw;
	overflow: hidden;
	/* pointer-events: none; */
}
