@import "../../colors.scss";

.listing {
	width: 25%;
	min-width: 300px;
	max-width: 400px;
	position: relative;
	margin: 20px;
	cursor: pointer;
	/* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
	// background-color: #050607;
	border-radius: 5px;
	overflow: hidden;
}

.listing::before {
	content: "";
	display: block;
	padding-bottom: calc((5 / 4) * 100%);
}

.listing_content {
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
	width: 100%;
	height: 100%;
	background-color: $card_background;

	border-radius: 5px;
	overflow: hidden;
	font-size: 15px;
	text-align: justify;
}

.listing_image-container {
	width: 100%;
	height: 65%;
	overflow: hidden;
}

.listing_image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.listing_details {
	height: 35%;
	display: flex;
	flex-direction: column;
	// justify-content: space-evenly;
	align-items: flex-start;
	/* padding: 0px 25px; */
	padding: 10px;
	position: relative;
	align-items: center;
}

.listing_row {
	margin: 6px 0px;
	display: flex;
}

.listing_heading {
	font-size: 1.2rem;
	color: $font_1;
	letter-spacing: 0px;
	font-weight: bold;
	// border: 1.5px solid red;
}

.listing_description {
	font-size: 1rem;
	color: $font_2;
	letter-spacing: 0px;
	text-align: justify;
}
