@import "../../colors.scss";

.modal {
	min-height: 600px;
	border-radius: 5px;
	position: relative;
	background-color: $bigCard_bg;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	display: flex;
}

.modal_image {
	object-fit: cover;
	border-radius: 5px;
}

.modal_info {
	background-color: $bigCard_bg;
	display: flex;
}

.modal_row {
	margin: 20px 0px;
	display: flex;
	align-items: center;
	text-align: left;
}

.modal_description-wrapper {
	margin: 20px 0px;
	text-align: left;
	overflow-y: scroll;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.modal_heading {
	font-size: 1.5rem;
	color: $font_1;
}

.modal_description {
	color: $font_2;
	margin: 0px;
	padding: 0px;
	font-size: 1.15rem;
}

.modal_close-wrapper {
	all: unset;
	position: absolute;
	cursor: pointer;
}

.modal_close-icon {
	width: 40px;
	height: 40px;
}

@media only screen {
	.modal {
		width: 90%;
		height: auto;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 15px;
	}

	.modal_image {
		width: 100%;
	}

	.modal_info {
		width: calc(100%);
		height: 100%;
		padding: 20px;
		flex-direction: column;
		align-items: flex-start;
	}

	.modal_close-wrapper {
		right: -20px;
		top: -30px;
	}

	.modal_close-icon {
		width: 35px;
		height: 35px;
		color: $card_close_icon;
	}
}

@media only screen and (min-width: 1281px) {
	.modal {
		width: 80%;
		height: 80%;
		max-width: 1800px;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		padding: 30px;
	}

	.modal_image {
		width: calc(70% - 10px);
		height: 100%;
	}

	.modal_info {
		width: calc(30% - 10px);
		height: 100%;
		padding: 5px;
		flex-direction: column;
		align-items: flex-start;
	}

	.modal_close-wrapper {
		right: 10px;
		top: 10px;
	}

	.modal_close-icon {
		color: $card_close_icon;
	}
}
