@import "../../colors.scss";

.contactContainer {
	display: flex;
	align-items: center;
	min-height: calc(100vh - 80px);
	position: relative;
	// padding: 20px;
	// border: 4px solid red;
	h1 {
		color: $font_1;
		text-align: center;
		padding: 2px;
		margin-bottom: 30px;
		// border: 4px solid red;
	}
	p {
		color: $font_2;
		text-align: center;
		font-size: 15px;
		font-weight: 500;
		margin-bottom: 30px;
		animation: fadeIn 4s 1.4s backwards;
		letter-spacing: 3px;

		@media screen and (max-width: 768px) {
			font-size: 15px;
		}

		@media screen and (max-width: 480px) {
			font-size: 12px;
		}

		a {
			color: $font_2;
			text-decoration: none;
		}
	}
}
.contactForm {
	// min-width: 900px;
	width: 900px;
	left: 0;
	right: 0;
	margin: auto;
	padding: 20px;

	// border: 2px solid yellow;
	ul {
		padding: 0;
		margin: 0;

		li {
			padding: 0;
			margin: 0;
			list-style: none;
			margin-bottom: 10px;
			overflow: hidden;
			display: block;
			position: relative;
			// opacity: 0;
			// animation: fadeInUp 2s 3s;
			// animation-fill-mode: forwards;
			clear: both;
		}

		li.half {
			width: 49.5%;
			margin-left: 1%;
			float: left;
			clear: none;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	input[type="text"],
	input[type="email"] {
		width: 100%;
		border: 0;
		background: $form_text_bg;
		height: 50px;
		font-size: 16px;
		color: $font_1;
		padding: 0 20px;
		box-sizing: border-box;
	}

	textarea {
		width: 100%;
		border: 0;
		background: $form_text_bg;
		height: 50px;
		font-size: 16px;
		color: $font_1;
		padding: 20px;
		min-height: 150px;
		box-sizing: border-box;
	}
}

form {
	animation: fadeIn 2s 2s backwards;
}
