@import "../../colors.scss";
.button {
	border-radius: 5px;
	background-color: $button_bg;
	color: $button_text;
	// padding: "18px 36px";
	// min-width: 110px;
	font-size: max(14px, 0.6vmax);
	font-weight: 500;
	letter-spacing: 3px;
	padding: 11px 11px;
	margin: 0;
	// border: 1.5px solid $button_border;
	border: none;
	animation: fadeIn 2s 2s backwards;
	text-decoration: none;

	&:hover {
		background-color: $button_bg_hover;
		color: $button_text_hover;
		cursor: pointer;
	}
}
.socialsContainer {
	text-align: center;
	margin-top: 130px;

	ul {
		margin: auto;
		margin-top: 50px;
		list-style: none;
		li {
			display: block;
			padding: 30px;
			line-height: 30px;
		}
		img {
			height: 30px;
			display: inline-flex;
			vertical-align: top;
		}
	}

	.button {
		align-items: center;
		justify-content: center;
		padding: 11px;
		margin-top: 50px;
		// display: block;
		font-size: 20px;
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	}
}
