$background: #fef9f4;
$heading_text_hover: #b85303;

$button_bg: #266150b5;
$button_text: #d5dfdf;
$button_border: $button_bg;

$button_bg_hover: #b85303;
$button_text_hover: #001e1d;

$font_1: #4f4846;
$font_2: #4f4846a0;

$card_background: #ddaf94;

$bigCard_bg: #ddaf94;
$card_close_icon: #c6c5d1;

$form_text_bg: #ddaf94;

$navbag_bg: $background;
$highlight: $heading_text_hover;
